<table class="table table-condensed table-hover">
  <thead>
    <tr style="font-size:1.2em">
      <th>title</th>
      <th class="hidden-xs">type</th>
      <th class="hidden-xs">start date</th>
      <th class="hidden-xs">hours</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'positions/tables/position_row', collection: positions_table %>
  </tbody>
</table>