<!--THIS IS A BUSINESS NEW -->
<div class="row">
  <div class="col-lg-offset-3 col-lg-6">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Business</h3>
      </div>
      <%= render 'businesses/forms/form' %>

  <%= link_to 'Back', dashboard_path, class: "btn btn-default center-block" %>

  </div>
</div>