<div class="row">
  <div class="col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-lg-offset-3 col-lg-6 col-md-6 col-sm-8 col-xs-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 id="form-title">Create Business Profile
          <%= link_to 'back', :back, class:'pull-right', style:'padding-top:5px;font-size:.8em' %>
        </h3>
      </div>
      <%= simple_form_for(@business) do |f| %>
        <%= render partial: 'businesses/forms/form_job', locals: {f: f} %>
      <% end %>
    </div>
  </div>
</div>

<% if !@business.source.present? %>
  <%= render partial: 'sign_up_b_feedback_modal' %>
<% end %>
