<!--THIS IS A BUSINESS NEW -->
<div class="row">
  <div class="col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-lg-offset-3 col-lg-6 col-md-6 col-sm-8 col-xs-10">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">New Business</h3>
      </div>

      <%= render 'businesses/forms/form_info' %>

  <%= link_to 'Back', dashboard_path, class: "btn btn-default center-block" %>

  </div>
</div>