<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Current Applications</h3>
  </div>
  <div class="panel-body">
   <%= render partial: 'position_applications/hunter/current_applications_table', object: current_user.group.applications %>
  </div>
</div>
