<div class="panel-body">
  <%= f.input :form, :input_html => {:value => 'about'}, as: :hidden %>
  <div class="form-inputs">
  <div class="pull-right"><span id="about-count">0</span> characters</div>
    <%= f.input :about, required: true, as: :text, placeholder: "About", hint: 'Between 150 and 1000 characters', input_html: { :id => "about-field", :cols => 5, :rows => 10 }  %>
  </div>
  <hr>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-default' %>
  </div>
</div>

<script type="text/javascript">

$(document).ready(function() {
  $("#about-field").on("keyup", function(){
    var length = $(this).val().length;
    $("#about-count").html(length);
  });

});

</script>