<div class="container" id="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-12 col-xs-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 style='font-size:1.5em;color:#FF8D00;text-align:left;font-weight:600'>Registered Business Terms<p style="font-size:.7em;font-weight:600;color:#428bca">ApplyWithin.co.uk</p></h4>
        </div>
          <div class="panel-body" style="padding:20px;padding-top:10px">
            <h5 style="font-weight:600;color:#428bca">1.	THESE TERMS</h5>
              <ul>
                <li style="font-size:.8em"><span style="font-weight:600">1.1	What these terms cover.</span> These are the terms and conditions on which we supply services to you. Our services are designed to enable you, as a registered business, to identify opportunities and find employees.</li>
                <li style="font-size:.8em"><span style="font-weight:600">1.2  Why you should read them.</span> Please read these terms carefully before registering to use this website. By registering you confirm that you have authority to bind any business on whose behalf you use our site and confirm acceptance of these terms.</li>
                <li style="font-size:.8em"><span style="font-weight:600">1.3  Changes to these terms.</span> We may revise these terms at any time and will notify you of these changes by posting a notification on our site which you will appear as a “pop up” when you next log in. Please check this page from time to time to take notice of any changes we have made. Every time you use the site, the terms in force at the time of your use will apply to the agreement between you and us. We may revise these terms from time to time to reflect changes in relevant laws and regulatory requirements.</li>
              </ul>

            <h5 style="font-weight:600;color:#428bca">2.  INFORMATION ABOUT US AND HOW TO CONTACT US</h5>
              <ul>
                <li style="font-size:.8em"><span style="font-weight:600">2.1  Who we are.</span>  We are thefreejobnetwork Limited, a company registered in England under company number 9782273 and have our registered office at 71-75 Shelton Street, Covent Garden, London, WC2H 9JQ.</li>
                <li style="font-size:.8em"><span style="font-weight:600">2.2  How to contact us.</span>  You can contact us by writing to us at <a style="color:#428bca">contact@applywithin.co.uk</a> or WC2H 9JQ.</li>
                <li style="font-size:.8em"><span style="font-weight:600">2.3  How we may contact you.</span>  If we have to contact you we will do so by writing to you at the email address or postal address you provide to us.</li>
                <li style="font-size:.8em"><span style="font-weight:600">2.4  "Writing" includes emails.</span>  When we use the words "writing" or "written" in these terms, this includes emails.</li>
              </ul>


            <h5 style="font-weight:600;color:#428bca">3.  CONTRACT WITH YOU AND YOUR ACCOUNT</h5>
              <ul>
                <li style="font-size:.8em"><span style="font-weight:600">3.1  Terms of Use and Privacy Policy.</span>  You have read, understood and agree to the <%= link_to "Terms of Use", static_pages_general_terms_path, style:"color:#FF8D00;font-weight:600" %> and <%= link_to "Privacy Policy", static_pages_privacy_policy_path, style:"color:#FF8D00;font-weight:600" %> which are deemed incorporated into these terms. We will use the personal information you provide to us in connection with the services in accordance with the Privacy Policy.</li>
                <li style="font-size:.8em"><span style="font-weight:600">3.2  Your Account.</span>  In order to use parts of the services, you must register with us and create a user profile for your business ("User Account") which will require a password. The name that you register with must be the real name of your business and you agree not to:
                  <ul>
                    <li style="font-size:.8em">(a)  create or use the name of another person or entity with the intention of impersonating that person or entity;</li>
                    <li style="font-size:.8em">(b)  use a name which is subject to any rights of a person or entity other than you without appropriate authorisation; or</li>
                    <li style="font-size:.8em">(c)  use a name which is offensive or inflammatory as deemed by us in our sole discretion.</li>
                  </ul>
                    We may refuse registration of, or cancel a User Account and disable any User Account, if in our reasonable opinion you fail to comply with these terms, the Terms of Use or the Privacy Policy, and such termination and/or restriction will be effective immediately.
                </li>
                <li style="font-size:.8em"><span style="font-weight:600">3.3  Your responsibilities.</span>Do not reveal your User Account information to anyone else. You are solely responsible for:
                  <ul>
                    <li style="font-size:.8em">(a)  maintaining the confidentiality and security of your User Account and should use your own virus protection software. If you become aware of any unauthorised use of your password or User Account, you agree to notify us immediately by email to <a style="color:#428bca">contact@applywithin.co.uk</a>. You agree not to use another user’s account without the express permission of that user;
                    </li>
                    <li style="font-size:.8em">(b)  configuring your information technology, computer programmes and platform in order to access the site; and</li>
                    <li style="font-size:.8em">(c)  using the services in a professional manner and you shall ensure that only authorised personnel can access the services.</li>
                  </ul>
                </li>
                <li style="font-size:.8em"><span style="font-weight:600">3.4  The services.</span>  The services we provide are provided “as is” and all warranties, conditions, representations or other terms, whether express or implied, are excluded by us to the fullest extent permitted by law. We do not control the actual transaction between registered businesses and registered job hunters and as a result, we are not responsible for user content, the quality, safety or legality of the jobs or job hunter profiles posted, the truth or accuracy of registered positions, the ability of businesses to offer job opportunities to job hunters or the ability of job hunters to fill job vacancies and we make no representations about any jobs, or job hunter profiles or user content.</li>
                <li style="font-size:.8em"><span style="font-weight:600">3.5  Notices.</span>  Any notice or other communication given by you to us, or by us to you, under or in connection with these terms shall be in writing and you agree that we can use our website and your contact email address to provide you with notices. A notice or other communication shall be deemed to have been received if sent by email, one business day after transmission. In proving the service of any notice, it will be sufficient to prove that such email was sent to the specified email address that you have provided. This paragraph shall not apply to the service of any proceedings or other documents in any legal action.</li>
              </ul>

            <h5 style="font-weight:600;color:#428bca">4.  VACANCIES AND ADVERTISEMENTS</h5>
              <ul>
                <li style="font-size:.8em"><span style="font-weight:600">4.1  Vacancies.</span>  We may in our sole discretion decline to post on, or remove from, the site any of the content and materials (including job advertisements and details of vacancies) supplied or made available by you and/or require such content and materials to be amended at any time if we consider that you are in breach of any of paragraphs 4.2, 4.3 or 4.4 and you shall indemnify us against all claims, costs, damages, losses, expenses and liabilities suffered or incurred by us arising as a result of any breach by you of paragraphs 4.2, 4.3 or 4.4.</li>
                <li style="font-size:.8em"><span style="font-weight:600">4.2  Warranties.</span>  
                  <ul>
                    <li style="font-size:.8em">(a)  You warrant that any materials provided by you for use on the site, including, sample job specifications, job advertisements content, audio, videos, photographs, logos, trade marks, domain names or documents, will not:</li>
                      <ul>
                        <li style="font-size:.8em">(i)  infringe any laws or regulations or third party intellectual property rights; nor</li>
                        <li style="font-size:.8em">(ii)  support or promote pyramid schemes or other similar schemes.</li>
                      </ul>
                    <li style="font-size:.8em">(b)  You warrant that materials provided by you, and your use of the services, comply with all applicable laws and regulations.</li>
                    <li style="font-size:.8em">(c)  You shall deliver content to us in a format compatible with the technical specifications issued by us from time to time.</li>
                  </ul>


                </li>
                <li style="font-size:.8em"><span style="font-weight:600">4.3  Job Advertisements.</span>  Any material provided in relation to a job advertisement must contain sufficient details to convey the nature and requirements of the registered job opportunity and the details must be accurate, honest and truthful. If you submit any information that is found to be false, we reserve the right to deny you access to the site and services.</li>
                <li style="font-size:.8em"><span style="font-weight:600">4.4  Job Hunters.</span>  You shall only use job hunter profile pages and personally identifiable job hunter information for the purpose of finding candidates for your registered positions. You shall keep confidential and not supply or make available to any person job hunter profile pages and personally identifiable job hunter information that you receive from use of the site or from any job hunter without the job hunter’s express consent. You shall comply with the provisions of the Data Protection Act 1998 and, in particular, shall take all appropriate technical, organisational and security measures to prevent unauthorised access, loss and use of personal data relating to job hunters. You accept that you are responsible for satisfying yourself as to the suitability of job hunters for a job vacancy and verifying the identity and suitability of such job hunters. There are risks associated with dealing with other users, for example, the risk of dealing with underage persons, and you assume all risks in this regard. We cannot and do not confirm that each job hunter is who they claim to be.</li>
                <li style="font-size:.8em"><span style="font-weight:600">4.5  Reasons we may suspend the supply of services.</span>We may have to suspend the supply of services to:  

                  <ul>
                    <li style="font-size:.8em">(a)  deal with technical problems or make minor technical changes on our website;</li>
                    <li style="font-size:.8em">(b)  update the website to reflect changes in relevant laws and regulatory requirements.</li>
                  </ul>

                </li>
              </ul>


            <h5 style="font-weight:600;color:#428bca">5.  OUR RESPONSIBILITY FOR LOSS OR DAMAGE SUFFERED BY YOU</h5>
              <ul>
                <li style="font-size:.8em"><span style="font-weight:600">5.1  Limitation and exclusion of warranties.</span>  We only supply the services for internal use by your business as a site to post job opportunities and search for and evaluate job hunters. We make no representation or warranty that the services and use of the site will be uninterrupted or error free or fit for your particular purpose. We do not screen postings and have no responsibility to verify the identity of any job hunters or check the suitability of any job hunters for any job vacancy.</li>
                <li style="font-size:.8em"><span style="font-weight:600">5.2  Loss and damage.</span>  Subject to paragraph 5.4, we do not accept any responsibility, and we shall not be liable to you, for any loss or damage whether in contract, delict (including negligence), breach of statutory duty or otherwise, even if foreseeable, arising under or in connection with your use or inability to use the site or reliance on the information contained on this site. Use of the site is at your own risk.</li>
                <li style="font-size:.8em"><span style="font-weight:600">5.3  We are not liable for business losses.</span>  We will under no circumstances whatever, subject to paragraph 5.4, be liable to you, whether in contract, delict (including negligence), breach of statutory duty, or otherwise, arising under or in connection with these terms for:
                  <ul>
                    <li style="font-size:.8em">(a)  any loss of profits, sales, business, or revenue;</li>
                    <li style="font-size:.8em">(b)  loss or corruption of data, materials, content, information or software;</li>
                    <li style="font-size:.8em">(c)  loss of business opportunity;</li>
                    <li style="font-size:.8em">(d)  loss of anticipated savings;</li>
                    <li style="font-size:.8em">(e)  loss of goodwill; or</li>
                    <li style="font-size:.8em">(f)  any indirect or consequential loss.</li>
                  </ul>
                </li>
                <li style="font-size:.8em"><span style="font-weight:600">5.4</span>  Nothing in these terms of use excludes or limits our liability for death or personal injury arising from our negligence, or our fraud or fraudulent misrepresentation, or any other liability that cannot be excluded or limited by law.</li>
              </ul>



            <h5 style="font-weight:600;color:#428bca">6.  RIGHTS TO END THE CONTRACT</h5>
              <ul>
                <li style="font-size:.8em"><span style="font-weight:600">6.1  We can each end this contract at any time with notice to the other.</span>  On termination, you lose the right to access or use the services.</li>
                <li style="font-size:.8em"><span style="font-weight:600">6.2  If you wish to cancel or delete your User Account,</span>  you can do this by logging into the site and following the instructions stated within the site.  You understand and acknowledge that you have no ownership rights in your User Account and that if you cancel or delete your User Account or your User Account is terminated, all your account information, including your profiles and applications will be marked as deleted in, and removed from, our databases and will be removed from the site as soon as reasonably possible.</li>
                <li style="font-size:.8em"><span style="font-weight:600">6.3  We reserve the right to disable your User Account</span>  and all of your information after a significant duration of inactivity.</li>
                <li style="font-size:.8em"><span style="font-weight:600">6.4  Notwithstanding termination of your User Account,</span>  third parties may retain saved copies of your information, for example, registered positions that you have posted.</li>
              </ul>

            <h5 style="font-weight:600;color:#428bca">7.  OTHER IMPORTANT TERMS</h5>
              <ul>
                <li style="font-size:.8em"><span style="font-weight:600">7.1  We may transfer this agreement to someone else.</span>  We may transfer our rights and obligations under these terms to another organisation as a result of a sale or transfer of our business or change in ownership of our business. You may not assign, transfer or deal in any other manner with all or any of your rights or obligations under these terms without our prior written consent.</li>
                <li style="font-size:.8em"><span style="font-weight:600">7.2  Entire agreement.</span>  These terms and the Terms of Use and Privacy Policy constitute the entire agreement between you and us and supersede and extinguish all previous agreements, promises, assurances, warranties, representations and understandings between us, whether written or oral, relating to its subject matter. You acknowledge that in entering into this agreement you do not rely on any statement, representation, assurance or warranty (whether made innocently or negligently) that is not set out in these terms or the Terms of Use and Privacy Policy. You and we agree that neither of us shall have any claim for innocent or negligent misrepresentation based on any statement in these terms.</li>
                <li style="font-size:.8em"><span style="font-weight:600">7.3  Nature of agreement.</span>  Nothing in these terms shall be deemed to create any kind of partnership or joint venture between us and you.</li>
                <li style="font-size:.8em"><span style="font-weight:600">7.4  Events Outside Our Control.</span>  We will not be liable or responsible for any failure to perform, or delay in performance of, any of our obligations that is caused by any act or event beyond our reasonable control.</li>
                <li style="font-size:.8em"><span style="font-weight:600">7.5  Nobody else has any rights under this contract.</span>  This contract is between you and us. No other person shall have any rights to enforce any of its terms whether under the Contracts (Rights of Third Parties) Act 1999 or otherwise.
7.6  If a court finds part of this contract illegal, the rest will continue in force. Each of the paragraphs of these terms operates separately. If any court or relevant authority decides that any of them are unlawful, the remaining paragraphs will remain in full force and effect.</li>
                <li style="font-size:.8em"><span style="font-weight:600">7.6  If a court finds part of this contract illegal,</span>  the rest will continue in force. Each of the paragraphs of these terms operates separately. If any court or relevant authority decides that any of them are unlawful, the remaining paragraphs will remain in full force and effect.</li>
                <li style="font-size:.8em"><span style="font-weight:600">7.7  Even if we delay in enforcing this contract,</span>  we can still enforce it later. If we do not insist immediately that you do anything you are required to do under these terms, or if we delay in taking steps against you in respect of your breaking this contract, that will not mean that you do not have to do those things and it will not prevent us taking steps against you at a later date.</li>
                <li style="font-size:.8em"><span style="font-weight:600">7.8  Which laws apply to this contract and where you may bring legal proceedings.</span>   These terms and their subject matter and formation, are governed by English law. You and we both agree that the courts of England and Wales will have exclusive jurisdiction.</li>
              </ul>

          </div>
      </div>

    </div>
  </div>
</div>