<div class="container" id="main">

  <div class="row">
    <div class="col-lg-9 col-lg-offset-3" style="margin-bottom:10px">
      <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
          <%= link_to raw('<i class="fa fa-arrow-left"></i>'), static_pages_example5_path, style:"color:#428bca;border-radius:4px",
          class: 'btn btn-default' %>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" style="border-radius:4px">
            <i class="fa fa-thumbs-down" style="color:#D50F25"></i>
          </button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" style="border-radius:4px">
            <i class="fa fa-print" style="color:#009925"></i>
          </button>
        </div>
        <div class="btn-group" role="group">
          <%= link_to raw('<i class="fa fa-arrow-right"></i>'), static_pages_example4_path, style:"color:#428bca;border-radius:4px",
          class: 'btn btn-default' %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">

        <div class="panel panel-default hidden-sm hidden-xs">

          <div class="panel-heading">
            <h4 style="color:#FF8D00;text-align:left;font-weight:600">Applications<p style="font-size:.7em">for The French Restaurant</p></h4>
            <p style="font-size:.7em;text-align:left">have a look at the applications received</p>
          </div>
          <div class="panel-body" style="padding-top:5px">
            <div class="table-responsive" style="border-radius:4px;font-size:.75em;padding-top:0px">
              <table class="table table-condensed" style="text-align:center">
                <thead>
                  <tr>
                    <th style="text-align:center">job title</th>
                    <th style="text-align:center;color:#428bca">applicants</th>
                    <th style="text-align:center;color:#FF8D00">new</th>
                  </tr>
                </thead>
                <tbody>
                  <tr style="font-weight:500">
                    <td style="color:#428bca">waiter</td>
                    <td style="font-weight:600">8</td>
                    <td style="font-weight:600;color:#FF8D00">2</td>
                  </tr>
                  <tr style="font-weight:500">
                    <td>barman</td>
                    <td style="font-weight:600">-</td>
                    <td style="font-weight:600;color:#FF8D00">-</td>
                  </tr>
                  <tr style="font-weight:500">
                    <td>chef</td>
                    <td style="font-weight:600">30</td>
                    <td style="font-weight:600;color:#FF8D00">1</td>
                  </tr>
                  <tr style="font-weight:500">
                    <td>kitchen porter</td>
                    <td style="font-weight:600">25</td>
                    <td style="font-weight:600;color:#FF8D00">4</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="panel panel-default hidden-sm hidden-xs">
          <div class="panel-heading"><p class="pull-right"style="color:#428bca;font-weight:500">applicants - 8&nbsp;<span style='color:#FF8D00;font-weight:700;letter-spacing:2px'>(2)</span></p>
            <h4>Waiter <p style="font-size:.8em">applicants</p></h4>
          </div>
          <div class="panel-body" style="padding-top:5px">
            <div class="table-responsive" style="border-radius:4px;font-size:.75em;padding-top:0px">
              <table class="table table-condensed" style="text-align:center">
                <thead>
                  <tr>
                    <th style="text-align:center;color:#428bca">name</th>
                    <th style="text-align:center;color:#428bca">seeking</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr style="font-weight:500;color:#FF8D00">
                    <td>fiona flowers</td>
                    <td>part-time</td>
                  </tr>
                  <tr style="font-weight:500;color:#FF8D00">
                    <td>danny dyer</td>
                    <td>part-time</td>
                  </tr>
                  <tr style="font-weight:500">
                    <td>lukasz dudka</td>
                    <td>full-time</td>
                  </tr>
                  <tr style="font-weight:500">
                    <td>chris philips</td>
                    <td>either</td>
                  </tr>
                  <tr style="font-weight:500">
                    <td>archie McFarlane</td>
                    <td>full-time</td>
                  </tr>
                  <tr style="font-weight:500">
                    <td>lucy gellatly</td>
                    <td>part-time</td>
                  </tr>
                  <tr style="font-weight:500">
                    <td>fred west</td>
                    <td>part-time</td>
                  </tr>
                  <tr style="font-weight:500">
                    <td>hazel french</td>
                    <td>part-time</td>
                  </tr>
                </tbody>
              </table>
            </div>          
          </div>
        </div>

      </div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <div class="panel panel-default">

          <div class="col-lg-12 panel-heading" style="padding:5px;background-color:white">

            <div class="col-lg-9 col-md-9 col-sm-9">
              <h3 style="color:#428bca;font-weight:600">Fiona Flowers<p style="font-size:.5em;">Quisque vulputate interdum urna eu congue, curabitur ornare lacus ut urna mattis varius. Nulla consequat massa id lectus luctus, quis varius nulla posuere. Nullam et libero sit amet mi auctor facilisis</p></h3>
            </div>

            <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1">
              <img class="img-circle pull-right" src="http://d3lmeboybbrqpp.cloudfront.net/pfil/5707/ph_grid7_5707_18745.jpg" style="height:140px;width:140px;padding:1px;border:1px solid #428bca;background-color:#e0e0e0;">
            </div>

          </div>
          <div class="panel-body">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="applicant_guts">
              <div>
                <table class="table table-condensed">
                  <tbody style="color:grey">
                    <tr>
                      <td style="border:0px"><p style="font-size:.9em;font-weight:600">Phone:&nbsp;&nbsp;&nbsp;07700 900440</p></td> 
                      <td style="border:0px"><p style="font-size:.9em;font-weight:600">E-mail:&nbsp;&nbsp;&nbsp;fionaflowers@gmail.com</p></td> 
                    </tr>
                    <tr>
                      <td style="border:0px"><p style="font-size:.9em;font-weight:600">Seeking:&nbsp;&nbsp;&nbsp;part-time</p></td> 
                      <td style="border:0px"><p style="font-size:.9em;font-weight:600">Address:&nbsp;&nbsp;&nbsp;W12</p></td> 
                    </tr>
                    <tr>
                      <td style="border:0px"><p style="font-size:.9em;font-weight:600">DOB:&nbsp;&nbsp;&nbsp;10 Sept 1992</p></td> 
                      <td style="border:0px"><p style="font-size:.9em;font-weight:600">Nationality:&nbsp;&nbsp;&nbsp;British</p></td> 
                      <td style="border:0px"><p style="font-size:.9em;font-weight:600">Driving Licence:&nbsp;&nbsp;&nbsp;<i class="fa fa-check" style="color:#009925"></i></p></td> 
                    </tr>
                  </tbody>
                </table>
              </div>

              <hr style="margin-top:10px;margin-bottom:20px">
              <h4 style="color:#FF8D00;font-weight:600;border:0px">Experience</h4>
                <div class="table-responsive" style="border-radius:4px;font-size:.75em">
                  <table class="table table-condensed">
                    <thead>
                      <tr>
                        <th>title</th>
                        <th>employer</th>
                        <th>location</th>
                        <th>duration</th>
                        <th>start</th>
                        <th>end</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Hostess</td>
                        <td>Nightclub Spice</td>
                        <td>London</td>
                        <td>7 months</td>
                        <td>Aug 13</td>
                        <td>Feb 14</td>
                        <td align="center"><span class="label label-primary">more</span></td>
                      </tr>
                      <tr>
                        <td>Waitress</td>
                        <td>Pizza Central</td>
                        <td>London</td>
                        <td>10 months</td>
                        <td>Sep 12</td>
                        <td>Jun 13</td>
                        <td align="center"><span class="label label-primary">more</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              <hr style="margin-top:10px;margin-bottom:20px">
              <h4 style="color:#FF8D00;font-weight:600;border:0px">Education</h4>
                <div class="table-responsive" style="border-radius:4px;font-size:.75em">
                  <table class="table table-condensed">
                    <thead>
                      <tr>
                        <th>institution</th>
                        <th>qualification</th>
                        <th>subject</th>
                        <th>result</th>
                        <th>start</th>
                        <th>end</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Kingston University London</td>
                        <td>BA Hons</td>
                        <td>French</td>
                        <td>2.1</td>
                        <td>Oct 2012</td>
                        <td>Jun 2015</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              <hr style="margin-top:10px;margin-bottom:20px">
              <h4 style="color:#FF8D00;font-weight:600;border:0px">Languages</h4>
                <div class="table-responsive" style="border-radius:4px;font-size:.75em">
                  <table class="table table-condensed">
                    <thead>
                      <tr>
                        <th>language</th>
                        <th>speaking</th>
                        <th>written</th>
                        <th>reading</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>English</td>
                        <td>native</td>
                        <td>native</td>
                        <td>native</td>
                      </tr>
                      <tr>
                        <td>Spanish</td>
                        <td>beginner</td>
                        <td>beginner</td>
                        <td>beginner</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              <hr style="margin-top:10px;margin-bottom:20px">
              <h4 style="color:#FF8D00;font-weight:600;border:0px">Availability</h4>
                <div class="table-responsive" style="border-radius:4px;font-size:.75em">
                  <table class="table table-condensed">
                    <thead>
                      <tr>
                        <td style="font-size:1em;font-weight:500">day</td>
                        <td style="font-size:1em;font-weight:500">morning</td>
                        <td style="font-size:1em;font-weight:500">afternoon</td>
                        <td style="font-size:1em;font-weight:500">evening</td>
                        <td style="font-size:1em;font-weight:500">late</td>
                      </tr>                
                    </thead>
                    <tbody>
                      <tr>
                        <td><p style="font-size:.9em">monday</p></td>
                        <td><i class="fa fa-question"style="color:#EEB211"></i></td>
                        <td><i class="fa fa-check" style="color:#009925"></i></td>
                        <td><i class="fa fa-check" style="color:#009925"></i></td>
                        <td><i class="fa fa-times"style="color:#D50F25"></i></td>
                      </tr>                
                      <tr>
                        <td><p style="font-size:.9em">tuesday</p></td>
                        <td><i class="fa fa-question"style="color:#EEB211"></i></td>
                        <td><i class="fa fa-check" style="color:#009925"></i></td>
                        <td><i class="fa fa-check" style="color:#009925"></i></td>
                        <td><i class="fa fa-times"style="color:#D50F25"></i></td>
                      </tr>                
                      <tr>
                        <td><p style="font-size:.9em">wednesday</p></td>
                        <td><i class="fa fa-times"style="color:#D50F25"></i></td>
                        <td><i class="fa fa-times"style="color:#D50F25"></i></td>
                        <td><i class="fa fa-times"style="color:#D50F25"></i></td>
                        <td><i class="fa fa-times"style="color:#D50F25"></i></td>
                      </tr>                
                      <tr>
                        <td><p style="font-size:.9em">thursday</p></td>
                        <td><i class="fa fa-question"style="color:#EEB211"></i></td>
                        <td><i class="fa fa-check" style="color:#009925"></i></td>
                        <td><i class="fa fa-check" style="color:#009925"></i></td>
                        <td><i class="fa fa-times"style="color:#D50F25"></i></td>
                      </tr>                
                      <tr>
                        <td><p style="font-size:.9em">friday</p></td>
                        <td><i class="fa fa-question"style="color:#EEB211"></i></td>
                        <td><i class="fa fa-check" style="color:#009925"></i></td>
                        <td><i class="fa fa-check" style="color:#009925"></i></td>
                        <td><i class="fa fa-check" style="color:#009925"></i></td>
                      </tr>                
                      <tr>
                        <td><p style="font-size:.9em">saturday</p></td>
                        <td><i class="fa fa-check"style="color:#009925"></i></td>
                        <td><i class="fa fa-check" style="color:#009925"></i></td>
                        <td><i class="fa fa-check" style="color:#009925"></i></td>
                        <td><i class="fa fa-check" style="color:#009925"></i></td>
                      </tr>                
                      <tr>
                        <td><p style="font-size:.9em">sunday</p></td>
                        <td><i class="fa fa-check"style="color:#009925"></i></td>
                        <td><i class="fa fa-check" style="color:#009925"></i></td>
                        <td><i class="fa fa-check" style="color:#009925"></i></td>
                        <td><i class="fa fa-times"style="color:#D50F25"></i></td>
                      </tr>                
                    </tbody>
                  </table>
                </div>

              <hr style="margin-top:10px;margin-bottom:20px">
              <h4 style="color:#FF8D00;font-weight:600;border:0px">About</h4>
                <ul class="nav nav-tabs">
                  <li class="active" style="color:#FF8D00"><a href="#A" data-toggle="tab" style="font-size:.9em;color:#428bca;font-weight:600">Summary</a></li>
                  <li><a href="#B" data-toggle="tab" style="font-size:.9em;color:#428bca;font-weight:600">Hobbies &amp; Interests</a></li>
                  <li><a href="#C" data-toggle="tab" style="font-size:.9em;color:#428bca;font-weight:600">Customer Service</a></li>
                </ul>
                <div class="tabbable">
                  <div class="tab-content">
                    <div class="tab-pane active" id="A" style="padding-bottom:10px">
                      <p style="font-size:.95em;color:grey"><br>Nullam sapien nunc, dapibus vel urna quis, lacinia vestibulum felis. Proin placerat, ligula vel pulvinar elementum, arcu eros aliquam odio, id rhoncus justo erat nec nisi. Nam ultrices sagittis felis a condimentum. Cras vulputate lectus nisi, in imperdiet erat dignissim id. Cras tempor tincidunt egestas. Sed vel lectus auctor, feugiat quam nec, aliquam libero. Donec id ultricies elit. Curabitur mauris leo, commodo id nisi vel, accumsan malesuada velit. Maecenas est sem, sagittis ut ornare ut, rutrum vel augue. Proin consectetur nulla nec diam pulvinar pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi sit amet purus non ex auctor scelerisque sed congue nisi.</p>
                      <hr>
                    </div>
                    <div class="tab-pane" id="B" style="padding-bottom:10px">
                      <p style="font-size:.9em;color:grey"><br>Vivamus varius neque id eros egestas tristique. Nunc et ornare massa, eget condimentum ipsum. Etiam bibendum euismod elit ut venenatis. Pellentesque auctor augue a magna consectetur, eu aliquet nulla tempor. Fusce sit amet mauris metus. Nullam egestas nunc lobortis tincidunt porta. Curabitur pretium ex ipsum, vel tempor dui tristique aliquam. Proin eu sem sodales orci accumsan placerat. Fusce mattis libero nec ante mollis, ac vulputate ipsum elementum. Ut malesuada urna tortor, eu bibendum ipsum maximus vitae. Maecenas pretium commodo sem quis sodales. Aliquam erat volutpat. Nulla non tempus ante.</p>
                      <hr>
                    </div>
                    <div class="tab-pane" id="C" style="padding-bottom:10px">
                      <p style="font-size:.9em;color:grey"><br>Etiam quis facilisis sapien, sit amet elementum eros. Duis dapibus suscipit suscipit. Praesent pellentesque, nibh eu ultrices mollis, tellus dui convallis eros, sit amet porta ex odio quis lacus. Aliquam fermentum suscipit odio vitae finibus. Nam sagittis auctor quam a pellentesque. In vulputate, justo ac accumsan maximus, leo felis placerat lectus, non dapibus elit mi interdum leo. Maecenas ac lectus vestibulum, auctor nisl ut, efficitur ex. Phasellus vitae dolor ullamcorper, commodo felis eu, efficitur arcu. Aenean ultricies tellus vel tellus sodales, quis porttitor dui cursus. Aliquam in urna at turpis fringilla aliquam et sed neque. Sed pharetra non ipsum quis pulvinar. Nullam nec risus non orci commodo varius.</p>
                      <hr>
                    </div>
                  </div>
                </div>

            </div>
          </div>

        </div>
    </div>
  </div>

</div>
