<div class="container" id="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-12 col-xs-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 style='font-size:1.5em;color:#FF8D00;text-align:left;font-weight:600'>Registered Job Hunter Terms<p style="font-size:.7em;font-weight:600;color:#428bca">ApplyWithin.co.uk</p></h4>
        </div>
          <div class="panel-body" style="padding:20px;padding-top:10px">
            <h5 style="font-weight:600;color:#428bca">1.	THESE TERMS</h5>
            <ul>
              <li style="font-size:.8em"><span style="font-weight:600">1.1	What these terms cover.</span> These are the terms and conditions on which we supply services to you. Our services are designed to enable you, as a registered job hunter, to identify vacancies within registered businesses.</li>
              <li style="font-size:.8em"><span style="font-weight:600">1.2	Why you should read them.</span> Please read these terms carefully before registering to use this website. By registering you are confirming your acceptance of these terms.</li>
              <li style="font-size:.8em"><span style="font-weight:600">1.3	Changes to these terms. </span> We may revise these terms at any time and will notify you of these changes by posting a notification on our site which will appear as a “pop up” when you next log in. Please check this page from time to time to take notice of any changes we have made, as they are binding on you.</li>
            </ul> 
            <h5 style="font-weight:600;color:#428bca">2.	INFORMATION ABOUT US AND HOW TO CONTACT US</h5>
            <ul>
              <li style="font-size:.8em"><span style="font-weight:600">2.1	Who we are.</span> We are thefreejobnetwork Limited, a company registered in England under company number 9782273 and have our registered office at 71-75 Shelton Street, Covent Garden, London, WC2H 9JQ.</li>
              <li style="font-size:.8em"><span style="font-weight:600">2.2	How to contact us. </span> You can contact us by writing to us at <a style="color:#428bca">contact@applywithin.co.uk</a> or WC2H 9JQ.</li>
              <li style="font-size:.8em"><span style="font-weight:600">2.3	How we may contact you. </span> If we have to contact you we will do so by writing to you at the email address or postal address you provide to us. </li>
              <li style="font-size:.8em"><span style="font-weight:600">2.4	"Writing" includes emails. </span> When we use the words "writing" or "written" in these terms, this includes emails.</li>
            </ul>
            <h5 style="font-weight:600;color:#428bca">3.	CONTRACT WITH YOU AND YOUR ACCOUNT</h5>
            <ul>
              <li style="font-size:.8em"><span style="font-weight:600">3.1	Terms of Use and Privacy Policy. </span> You have read, understood and agree to the <%= link_to "Terms of Use", general_terms_path, style:"color:#FF8D00;font-weight:600" %> and <%= link_to "Privacy Policy", privacy_policy_path, style:"color:#FF8D00;font-weight:600" %> which are deemed incorporated into these terms. We will use the personal information you provide to us in connection with the services in accordance with the Privacy Policy.</li>
              <li style="font-size:.8em"><span style="font-weight:600">3.2	Your Account. </span>  In order to use parts of the services, you must register with us and create a user profile ("User Account") which will require a password. The name that you register with must be your own real name and you agree not to:
                <ul>
              <li style="font-size:.8em">(a)	create or use the name of another person with the intention of impersonating that person;</li>
              <li style="font-size:.8em">(b)	use a name which is subject to any rights of a person other than you without appropriate authorisation; or</li>
              <li style="font-size:.8em">(c)	use a name which is offensive or inflammatory as deemed by us in our sole discretion.</li>
                </ul>
              We may refuse registration of, or cancel a User Account and disable any User Account, if in our reasonable opinion you fail to comply with these terms, the Terms of Use or the Privacy Policy, and such termination and/or restriction will be effective immediately.</li>
              <li style="font-size:.8em"><span style="font-weight:600">3.3	Your responsibilities.</span>   Do not reveal your User Account information to anyone else. You are solely responsible for:</li>
              <ul>
              <li style="font-size:.8em">(a)	maintaining the confidentiality and security of your User Account and should use your own virus protection software. If you become aware of any unauthorised use of your password or User Account, you agree to notify us immediately by email to  <a style="color:#428bca">contact@applywithin.co.uk</a>. You agree not to use another user’s account without the express permission of that user;</li>
              <li style="font-size:.8em">(b)	configuring your information technology, computer programmes and platform in order to access the site; and</li>
              <li style="font-size:.8em">(c)	using the services in a professional manner.</li>
              </ul>
              <li style="font-size:.8em"><span style="font-weight:600">3.4	The services.</span>   The services we provide are provided “as is” and all warranties, conditions, representations or other terms, whether express or implied, are excluded by us to the fullest extent permitted by law. We do not control the actual transaction between registered businesses and registered job hunters and as a result, we are not responsible for user content, the quality, safety or legality of the jobs or job hunter profiles posted, the truth or accuracy of registered positions, the ability of businesses to offer job opportunities to job hunters or the ability of job hunters to fill job vacancies and we make no representations about any jobs, or job hunter profiles or user content.</li>
              <li style="font-size:.8em"><span style="font-weight:600">3.5	Notices.</span>  You agree that we can use our website and your contact email address to provide you with notices. If the contact information you provide isn't up to date, you may miss out on these notices. You agree to keep your contact information up to date. </li>
            </ul>
          <h5 style="font-weight:600;color:#428bca">4.	VACANCIES AND APPLICATIONS</h5>
            <ul>
              <li style="font-size:.8em"><span style="font-weight:600">4.1	Vacancies.</span>   You acknowledge that we are not responsible for the content of any job vacancy advertising and that accordingly it is a matter for you to satisfy yourself as to the suitability of the job vacancy and the identity of the business. There may be certain eligibility requirements, for example, a minimum age for a particular job. To use the services, you agree that you are the minimum age or older (if this is a particular requirement).</li>
              <li style="font-size:.8em"><span style="font-weight:600">4.2	Applications.</span>   If you submit an application for a vacancy which has been posted on the site or you make your profile page available to registered businesses, you agree that:
              <ul>
                <li style="font-size:.8em">(a)	You have read and understood the requirements for the job vacancy;</li>
                <li style="font-size:.8em">(b)	The information that you provide as part of the application and/or within your profile page is up to date and is a true and accurate reflection of your employment, education, experience and training, and current or previous positions and qualifications and that your personal details are correct and can be used by the business to contact you;</li>
                <li style="font-size:.8em">(c)	The image that you have used (if any) is a true likeness.</li>
              </ul>
If you submit any information that is found to be false, we reserve the right to deny you access to the site and services.</li>
              <li style="font-size:.8em"><span style="font-weight:600">4.3	Requests for information.</span>   Please note that applications and profile pages are assessed by the relevant registered business and all decisions relating to such applications are taken by the relevant business and not by us. Accordingly, any requests for information relating to applications that have been made should be addressed to the business directly.</li>
              <li style="font-size:.8em"><span style="font-weight:600">4.4	Reasons we may suspend the supply of services.</span>  We may have to suspend the supply of services to:</li>
                <ul>
                <li style="font-size:.8em">(a)	deal with technical problems or make minor technical changes on our website; or</li>
                <li style="font-size:.8em">(b)	update the website to reflect changes in relevant laws and regulatory requirements.</li>
                </ul>
            </ul>
            <h5 style="font-weight:600;color:#428bca">5.	RIGHTS TO END THE CONTRACT</h5>
            <ul>
              <li style="font-size:.8em"><span style="font-weight:600">5.1</span>	We can each end this contract at any time with notice to the other.</span>  On termination, you lose the right to access or use the services. </li>
              <li style="font-size:.8em"><span style="font-weight:600">5.2</span>	If you wish to cancel or delete your User Account, you can do this by logging into the site and following the instructions stated within the site.  You understand and acknowledge that you have no ownership rights in your User Account and that if you cancel or delete your User Account or your User Account is terminated, all your account information, including your profiles and applications will be marked as deleted in, and removed from, our databases and will be removed from the site as soon as reasonably possible.</li>
              <li style="font-size:.8em"><span style="font-weight:600">5.3</span>	We reserve the right to disable your User Account and all of your information after a significant duration of inactivity.</li>
              <li style="font-size:.8em"><span style="font-weight:600">5.4</span>	Notwithstanding termination of your User Account, third parties may retain saved copies of your information, for example, registered businesses that you have applied to.</li>
            </ul>
            <h5 style="font-weight:600;color:#428bca">6.	OUR RESPONSIBILITY FOR LOSS OR DAMAGE SUFFERED BY YOU</h5>
            <ul>
              <li style="font-size:.8em"><span style="font-weight:600">6.1	Foreseeable loss and damage.</span> If either we or you fail to comply with these terms, neither of us will be responsible for any loss that the other suffers as a result, except for losses which are foreseeable. Loss or damage is foreseeable if it was an obvious consequence of failure to comply with these terms or if it was contemplated by you and us at the time we entered into these terms.</li>
              <li style="font-size:.8em"><span style="font-weight:600">6.2	We are not liable for business losses.</span> You agree not to use the site for any commercial or business purposes. If you use the products for any commercial or business purpose we will have no liability to you for any loss of profit, loss of business, business interruption, or loss of business opportunity.</li> 
              <li style="font-size:.8em"><span style="font-weight:600">6.3</span>	Nothing in these terms of use excludes or limits our liability for death or personal injury arising from our negligence, or our fraud or fraudulent misrepresentation, or any other liability that cannot be excluded or limited by law.</li>
            </ul>
            <h5 style="font-weight:600;color:#428bca">7.	OTHER IMPORTANT TERMS</h5>
            <ul>
              <li style="font-size:.8em"><span style="font-weight:600">7.1	We may transfer this agreement to someone else.</span> We may transfer our rights and obligations under these terms to another organisation as a result of a sale or transfer of our business or change in ownership of our business.</li>
              <li style="font-size:.8em"><span style="font-weight:600">7.2	Nobody else has any rights under this contract.</span> This contract is between you and us. No other person shall have any rights to enforce any of its terms.</li>
              <li style="font-size:.8em"><span style="font-weight:600">7.3	If a court finds part of this contract illegal, the rest will continue in force.</span> Each of the paragraphs of these terms operates separately. If any court or relevant authority decides that any of them are unlawful, the remaining paragraphs will remain in full force and effect.</li>
              <li style="font-size:.8em"><span style="font-weight:600">7.4	Even if we delay in enforcing this contract, we can still enforce it later.</span> If we do not insist immediately that you do anything you are required to do under these terms, or if we delay in taking steps against you in respect of your breaking this contract, that will not mean that you do not have to do those things and it will not prevent us taking steps against you at a later date.</li>
              <li style="font-size:.8em"><span style="font-weight:600">7.5	Which laws apply to this contract and where you may bring legal proceedings.</span> These terms and their subject matter and formation are governed by Scots law. You and we both agree that the Scottish courts will have non-exclusive jurisdiction. However, if you are a consumer and a resident of Northern Ireland you may also bring proceedings in Northern Ireland, or if you are a consumer and resident of England, you may also bring proceedings in England.</li>
            </ul>

          </div>
      </div>

    </div>
  </div>
</div>