<div class="row">
  <div class="col-lg-offset-3 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 id="form-title">Edit Job Details</h3>
      </div>
      <%= simple_form_for([@business, @position]) do |f| %>
        <%= render partial: 'positions/forms/form_detail', locals: {f: f} %>
      <% end %>
    </div>
  </div>
</div>