<div class="col-lg-12" style="padding-left:20px;padding-right:20px">
  <h5 style="color:#337ab7;margin:20px;text-align:left">About Me</h5>
  <p style="font-size:.9em"><%= simple_format(about.summary) %><p>
  <h5 style="color:#337ab7;margin:20px;text-align:left">Interests</h5>
  <p style="font-size:.9em"><%= simple_format(about.interests) %><p>
  <% if about.customer_service.present? %>
    <h5 style="color:#337ab7;margin:20px;text-align:left">Customer Service</h5>
  <p style="font-size:.9em"><%= simple_format(about.customer_service) %><p>
  <% end %>
</div>