<div class="container" id="main">
  <div class="row" style="margin-top:7%">  
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">

      <div class="panel panel-default">

        <div class="panel-heading">
          <h4 style="color:#FF8D00;font-weight:600">Resend unlock instructions</h5>
        </div>

        <div class="panel-body">

          <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <div class="input-group input-group-lg">
                  <span class="input-group-addon">
                      <span class="fa fa-envelope-o fa-fw"></span>
                  </span>
                  <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "email" %>
              </div>
            </div>

            <div class="actions" style="text-align:center;">
        	    <%= f.submit "Resend unlock instructions", class:"btn btn-default", style:"margin-top:20px;background-color:#428bca;border-radius:4px;font-weight:600;color:white" %>
              <% end %>
            </div>

        </div>
      </div>

    </div>
  </div>
</div>