<div class="panel-body">
  <!-- <%= f.input :form, :input_html => {:value => "info" }, as: :hidden %> -->

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <%= f.input :name, collection: LanguageName.all, required: true, prompt: "Which Language?"%>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <%= f.input :level, collection: LanguageLevel.all, required: true, label_method: :level, prompt: "What Level?" %>
    </div>
  </div>
  <hr>
  <div class="form-actions" style="text-align:center">
    <%= f.submit "Submit", class: 'btn btn-default' %>
  </div>
</div>

