<div class="row">
  <div class="col-lg-offset-3 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">experience/edit.html.erb</h3>
      </div>
      <%= simple_form_for([@experience]) do |f| %>
        <%= render partial: 'experiences/form', locals: {f: f} %>
      <% end %>

    </div>
  </div>
</div>
