<div class="panel panel-default hidden-xs">
  <div class="panel-heading">
    <% if @business.owner?(current_user) %>
      <% if @business.default_gallery.photos.length < 12 %>
        <%= link_to new_photo_path, class:'btn btn-default pull-right' do %>
        <span class="has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Add Picture">
          <i class="fa fa-plus-circle"></i>
        </span>
        <% end %>
      <% end %>
    <% end %>
    <h4 class="bluey">Gallery</h4>
    <p class="pinky"><%= @business.name %></p>
  </div>
  <div class="panel-body" style="padding:10px;text-align:center">
    <div class="col-lg-12">
      <%= render @business.default_gallery.photos %>
    </div>
  </div>
</div><!--/business gallery-->

<script type="text/javascript">
$(document).ready(function() {
  $('.has-tooltip').tooltip();
  $('.has-popover').popover({
    trigger: 'hover'
  });
});
</script>