<div class="panel panel-default col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="panel-body">
    <div class="iframe">
      <iframe width="100%" scrolling="yes" height="350" frameborder="0" marginwidth="0" marginheight="0"
         <%= image_tag "https://www.google.com/maps/embed/v1/place?key=AIzaSyDFL4yeXUpLf32cEJG4gdkO7iMQBs4c_Ek&q=#{@business.latitude}%2C#{@business.longitude}", style:"border-radius:4px;box-shadow: 4px 4px 2px #d3d3d3" %>></iframe>
    </div>
  </div>
</div><!--/business map-->
