<div class="panel panel-default hidden-xs">
  <div class="panel-heading">
    <% if @business.owner?(current_user)  %>
      <%= link_to edit_about_business_path(current_user.group), class:'btn btn-default pull-right edit' do %>
      <span class="has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Edit About Business">
        <i class="fa fa-pencil-square-o"></i>
      </span>
      <% end %>
    <% end %>
    <h4 class="bluey">About</h4>
    <p class="pinky"><%= @business.name %></p>
  </div>
  <div class="panel-body">
    <p><%= simple_format(@business.about) %></p>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('.has-tooltip').tooltip();
  $('.has-popover').popover({
    trigger: 'hover'
  });
});
</script>