<table class="table table-condensed table-hover" style="border-collapse:collapse;">
  <thead>
    <tr>
      <th>Job type</th>
      <th>location</th>
      <th colspan="3"></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'auto_applications/auto_application_row', collection: auto_applications_table %>
  </tbody>
</table>
