<div class="container" id="main">
  <div class="row" style="margin-top:30px">  
    <div class="col-lg-8 col-lg-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 style="margin:10px;text-align:center;color:#FF8D00;font-weight:600">Create an Auto Application </h3>
        </div>
        <div class="panel-body">
          <div style="width:350px;margin-left:auto;margin-right:auto">
            <%= simple_form_for([@hunter, @auto_application], class:'form-inline') do |f| %>
              <%= render partial: "form", locals: {f: f} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>