<div class="row">
  <div class="col-lg-offset-3 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 id="form-title">Add Pictures</h3>
      </div>
      
      <div class="panel-body">
        <div class="form-inputs">
          <%= form_for @photo, html:{multipart:true} do |f| %>
          <%= f.file_field :file, onchange:"previewFile()" %>
        </div>
        <hr>
        <div style="text-align:center;padding-top:5px">
          <img height="400" width="400" style="margin-top:10px;text-align:center" alt="Image preview...">
        <hr>
        </div>
        <div class="form-actions">
          <%= f.submit "Add Picture", class:'btn btn-default' %>
        </div>
      </div>
      <% end %>
  </div>
</div>

