<!--main-->
<div class="container" id="main">
<%= form_for @photo, html:{multipart:true} do |f| %>
  <div class="row" style="margin-top:50px">  
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 style="font-size:2em;color:#428bca;text-align:center">add a photo<p style="font-size:.7em"></p></h3>
          <p style="font-size:.9em;text-align:center"></p>
        </div>
        <div class="panel-body" style="text-align:center;padding-top:7px;padding-bottom:5px;margin:0px">
          <form class="form col-md-12 center-block">
            <div class="form-group">
              <%= f.file_field :file, onchange:"previewFile()" %>
              <hr>
              <div style="text-align:center;padding-top:5px">
                <img height="400" width="400" style="margin-top:10px;text-align:center" alt="Image preview...">
              </div>
            </div>
          <div class="actions" style="margin-left:auto;margin-right:auto">
            <%= f.submit "add photo", class:'btn btn-primary', style:"margin-top:10px;background-color:#428bca;border-radius:4px;font-size:1.2em;font-weight:600" %>
          </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
<% end %>
</div><!--/main-->