<div class="container" id="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 style="color:#FF8D00">editing hours<p style="font-size:.7em"></p></h4>
        </div>
        <div class="panel-body">
         <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>