// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.circle
  width: 270px
  height: 270px
  padding: 6px 0
  border-radius: 150px
  outline: 0px
  text-align: center
  font-size: 2em
  font-weight: 600
  color: white

.blue-circle
  background-color: #428bca
  
.orange-circle
  background-color: #FF8D00