<table class="table table-condensed table-responsive" style="border:0px;color:#999999">
  <thead>
    <tr>
      <th style="font-size:.8em">name</th>
      <th style="text-align:right"><i class="fa fa-home"></i></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'position_applications/business/applicant_row', collection: applicants_table.active %>
  </tbody>
</table>