<table class="table table-condensed table-responsive" style="font-size:.7em;color:#337AB7">
  <thead>
    <tr>
      <th>name</th>
      <th><i class="fa fa-home"></i></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'position_applications/business/applicant_row', collection: applicants_table.active %>
  </tbody>
</table>