<tr style="font-weight:400">
  <td><%= link_to summary_row.position.title, position_advertisement_position_applications_path(summary_row), style:"color:#428bca" %></td>
  <td style="text-align:center"><%= summary_row.active_applicant_count %></td>
  <td style="text-align:center"><%= summary_row.new_applications %></td>
</tr>
